astropy==3.1.1
-e git+https://github.com/skypher/cerridwen@30d7c8d8cc4dc72b75ad3a7a8a136a596dbb40e3#egg=cerridwen
cryptography==1.2.3
Flask==0.10.1
idna==2.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
nose==1.3.7
numpy==1.15.4
pyasn1==0.1.9
pyinotify==0.9.6
pyOpenSSL==0.15.1
pyswisseph==2.0.0.post2
six==1.10.0
Werkzeug==0.10.4
