@font-face
{
  font-family: RobotoRegular;
  src: url(fonts/roboto/Roboto-Regular.ttf);
}

@font-face
{
  font-family: RobotoLight;
  src: url(fonts/roboto/Roboto-Light.ttf);
}

@font-face
{
  font-family: CODE;
  src: url(fonts/code/CODE%20Light.otf);
}

@font-face
{
  font-family: Couture;
  src: url(fonts/couture/COUTURE-Bold.ttf);
}

body {
  background:#fdfbec;
  color:#222;
  font-size:20px;
  font-family:RobotoRegular, sans-serif;
}

h1 {
  margin-top:25px;
  font-family:Couture, sans-serif;
  width:300px;
  border-top:15px solid #e4e4e4;
  font-size:2.7em;
  margin-left:-120px;
  padding-left:120px;
}

h2 {
  margin-top:3ex;
}

h2,h3 {
  font-family: RobotoLight, sans-serif;
  font-weight: bold;
}

.moonborder {
  width:198px;
  height:100%;
  background:url(moonborder2.jpg) no-repeat black;
  position:absolute;
  top:0;
  left:0;
}

.content {
  margin-left:250px;
}
